DISCORD_TOKEN=change_me
DISCORD_CLIENT_ID=change_me
DISCORD_GUILD_ID=change_me

LAVALINK_HOST="127.0.0.1"
LAVALINK_PORT=2333
LAVALINK_PASSWORD=change_me
API_TOKEN = change_me
HTTP_HOST= change_me
HTTP_PORT= change_me
CORS_ORIGIN = change_me
LAVALINK_SECURE=false
REFRESH_TOKEN=change_me